<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 50%;
            border: 1px solid #ddd;
            margin-left: 5%;
            margin-right: auto;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }
        .title-table {
            font-weight: 700;
        }
        .description-table {
            margin-left: 5%;
            font-size: 16px;
        }
        tr:nth-child(even){background-color: #f2f2f2}
    </style>
    <title></title>
    
</head>
    <body>
        <div style="overflow-x:auto;">
            <table>
                <tbody>
                    <tr>
                        <td class="title-table"><span>Download and open the attachment to view the last day log errors</span></td>
                    </tr>
                    <tr>
                        <td class="title-table"><span>Log Error Information Date {{ "now"|date("m/d/Y") }}</span></td>
                    </tr>
                    <tr>
                        <td class="title-table"><span>Send by Simple Logger</span></td>
                    </tr>
                </tbody>
            </table>                        
        </div>
    </body>
</html>
